<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FILEHEADER</key>
	<string>
// By downloading or using this software made available by MagicBell, Inc.
// (&quot;MagicBell&quot;) or any documentation that accompanies it (collectively, the
// &quot;Software&quot;), you and the company or entity that you represent (collectively,
// &quot;you&quot; or &quot;your&quot;) are consenting to be bound by and are becoming a party to this
// License Agreement (this &quot;Agreement&quot;). You hereby represent and warrant that you
// are authorized and lawfully able to bind such company or entity that you
// represent to this Agreement.  If you do not have such authority or do not agree
// to all of the terms of this Agreement, you may not download or use the Software.
//
// For more information, read the LICENSE file.
//</string>
</dict>
</plist>
